In [1]:
import numpy as np
import pandas as pd
import re

In [2]:
anime = pd.read_csv('anime.csv')
rating = pd.read_csv('rating.csv')
print(anime.shape)
anime.head()

(12294, 7)

,anime_id,name,genre,type,episodes,rating,members
0,32281,Kimi no Na wa.,"Drama, Romance, School, Supernatural",Movie,1,9.37,200630
1,5114,Fullmetal Alchemist: Brotherhood,"Action, Adventure, Drama, Fantasy, Magic, Mili...",TV,64,9.26,793665
2,28977,Gintama°,"Action, Comedy, Historical, Parody, Samurai, S...",TV,51,9.25,114262
3,9253,Steins;Gate,"Sci-Fi, Thriller",TV,24,9.17,673572
4,9969,Gintama&#039;,"Action, Comedy, Historical, Parody, Samurai, S...",TV,51,9.16,151266

In [3]:
anime.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12294 entries, 0 to 12293
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   anime_id  12294 non-null  int64
 1   name      12294 non-null  object
 2   genre     12232 non-null  object
 3   type      12269 non-null  object
 4   episodes  12294 non-null  object
 5   rating    12064 non-null  float64
 6   members   12294 non-null  int64
dtypes: float64(1), int64(2), object(4)
memory usage: 672.5+ KB

In [4]:
print("anime dataset---")
print(anime.isnull().sum())
print("rating dataset---")
print(rating.isnull().sum())

anime dataset---
anime_id      0
name          0
genre        62
type         25
episodes      0
rating      230
members       0
dtype: int64
rating dataset---
user_id     0
anime_id    0
rating      0
dtype: int64

In [5]:
anime_full = pd.merge(anime,rating,on = 'anime_id')
anime_full.rename(columns = {"name" : "anime_name","rating_x" : "rating","rating_y": "user_rating"},inplace = True)
anime_full.head()

,anime_id,anime_name,genre,type,episodes,rating,members,user_id,user_rating
0,32281,Kimi no Na wa.,"Drama, Romance, School, Supernatural",Movie,1,9.37,200630,99,5
1,32281,Kimi no Na wa.,"Drama, Romance, School, Supernatural",Movie,1,9.37,200630,152,10
2,32281,Kimi no Na wa.,"Drama, Romance, School, Supernatural",Movie,1,9.37,200630,244,10
3,32281,Kimi no Na wa.,"Drama, Romance, School, Supernatural",Movie,1,9.37,200630,271,10
4,32281,Kimi no Na wa.,"Drama, Romance, School, Supernatural",Movie,1,9.37,200630,278,-1

In [6]:
anime_full.user_rating.unique()

array([ 5, 10, -1,  8,  9,  7,  6,  2,  4,  1,  3], dtype=int64)

In [7]:
anime_full.user_rating.replace({-1:0},inplace = True)
anime_full.head()

,anime_id,anime_name,genre,type,episodes,rating,members,user_id,user_rating
0,32281,Kimi no Na wa.,"Drama, Romance, School, Supernatural",Movie,1,9.37,200630,99,5
1,32281,Kimi no Na wa.,"Drama, Romance, School, Supernatural",Movie,1,9.37,200630,152,10
2,32281,Kimi no Na wa.,"Drama, Romance, School, Supernatural",Movie,1,9.37,200630,244,10
3,32281,Kimi no Na wa.,"Drama, Romance, School, Supernatural",Movie,1,9.37,200630,271,10
4,32281,Kimi no Na wa.,"Drama, Romance, School, Supernatural",Movie,1,9.37,200630,278,0

In [8]:
anime_full.user_rating.unique()

array([ 5, 10,  0,  8,  9,  7,  6,  2,  4,  1,  3], dtype=int64)

In [9]:
anime_full.isnull().sum()

anime_id         0
anime_name       0
genre          110
type             4
episodes         0
rating           6
members          0
user_id          0
user_rating      0
dtype: int64

In [10]:
anime_full.type.unique()

array(['Movie', 'TV', 'OVA', 'Special', 'Music', 'ONA', nan], dtype=object)

In [11]:
anime_full.genre.fillna("NULL",inplace = True)
anime_full.type.fillna("NULL",inplace = True)
anime_full.rating.fillna(anime_full.rating.mean(),inplace=True)

In [12]:
anime_full["anime_name"] = anime_full["anime_name"].map(lambda name:re.sub('[^A-Za-z0-9]+', " ", name))

In [13]:
anime_full.isnull().sum()

anime_id       0
anime_name     0
genre          0
type           0
episodes       0
rating         0
members        0
user_id        0
user_rating    0
dtype: int64

In [15]:
animeTV = anime_full[anime_full.type != "Movie"]
animeMovie = anime_full[anime_full.type == "Movie"]

In [16]:
print(animeTV.shape,animeMovie.shape)

(6761729, 9) (1051998, 9)

In [17]:
anime_full.to_csv("data.csv")
animeTV.to_csv("anime_TV.csv")
animeMovie.to_csv("Movies.csv")